@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="container">
        <h2>
            Welcome to Worker Area
        </h2> 
        <div class="card">
            <div class="inner">
                <img src="~/images/avatar-03.png" alt="Rehab">
                <h1>Mohamed</h1>
                <p>CEO & Founder</p>
                <button >Contact</button>
            </div>
        </div>
        <div class="card">
            <div class="inner">
                <img src="~/images/avatar-04.png" alt="WrPhoto">
                <h1>Ahmed</h1>
                <p>Accountant </p>
                <button>Contact</button>
            </div>
        </div>
        <div class="card">
            <div class="inner">
                <img src="~/images/avatar-05.png" alt="WrPhoto">
                <h1>Ali</h1>
                <p>Flutter Developer</p>
                <button>Contact</button>
            </div>
        </div>
        <div class="card">
            <div class="inner">
                <img src="~/images/avatar-06.png" alt="WrPhoto">
                <h1>Amer</h1>
                <p>Web Developer</p>
                <button>Contact</button>
            </div>
        </div>
        
        <div class="clear-fix"></div> 
    </div>
</body>

</html>