@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebAppfor_AW_worker.Models.ComplaintTbl
@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
    var errorMessage = TempData["errorMessage"]?.ToString();
    var successMessage = TempData["successMessage"]?.ToString();
}
<div class="c_complain">
    <h2 class="main-title m-com">Create Your Complain</h2>
    @if (!string.IsNullOrWhiteSpace(errorMessage))
    {
        <div class="alert alert-danger">
            <strong>Error!</strong>@errorMessage
            <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(successMessage))
    {
        <div class="alert alert-success">
            <strong>Success!</strong>@successMessage
            <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
        </div>
    }
    <div class="container">
        <div class="send_req" id="c_complain">
            <p class="mt-0 mb-20 c-grey fs-15">Please Write Your Complain or Suggestion here</p>
            <form method="post">
                <div>
                    <input type="number" placeholder="Request id" asp-for="ReqId"  />
                </div>
                <div>
                    <textarea asp-for="ComDescription" placeholder="Description"></textarea>
                </div>
                <div>
                    <input class="send d-block fs-14 bg-blue c-white b-none w-fit btn-shape" type="submit" value="Send" asp-action="C_complain" />
                </div>
            </form>
            <div>
                <a class="btn btn-secondary" asp-area="User" asp-action="Index" asp-controller="User">Back</a>
            </div>
        </div>
    </div>
</div>
