@model WebAppfor_AW_worker.Models.RequestTbl

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>RequestTbl</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReqId" />
            <div class="form-group">
                <label asp-for="ReqTime" class="control-label"></label>
                <input asp-for="ReqTime" class="form-control" />
                <span asp-validation-for="ReqTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReqProblem" class="control-label"></label>
                <input asp-for="ReqProblem" class="form-control" />
                <span asp-validation-for="ReqProblem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReqDescription" class="control-label"></label>
                <textarea asp-for="ReqDescription" class="form-control"></textarea>
                <span asp-validation-for="ReqDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReqCost" class="control-label"></label>
                <input asp-for="ReqCost" class="form-control" />
                <span asp-validation-for="ReqCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WrId" class="control-label"></label>
                <select asp-for="WrId" class="form-control" asp-items="ViewBag.WrId"></select>
                <span asp-validation-for="WrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsId" class="control-label"></label>
                <select asp-for="UsId" class="form-control" asp-items="ViewBag.UsId"></select>
                <span asp-validation-for="UsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReqAccept" class="control-label"></label>
                <input asp-for="ReqAccept" class="form-control" />
                <span asp-validation-for="ReqAccept" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReqDecline" class="control-label"></label>
                <input asp-for="ReqDecline" class="form-control" />
                <span asp-validation-for="ReqDecline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReqConfirmation" class="control-label"></label>
                <input asp-for="ReqConfirmation" class="form-control" />
                <span asp-validation-for="ReqConfirmation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

