@{
    ViewData["Title"] = "Home Page";
}

<!-- Start Landing -->
<div class="landing">
    <div class="container">
        <div class="box quality">
            <img src="~/images/features-01.jpg" alt=""/>
        </div>
        <h2>quality</h2>
        <p>
        the quality is important feature if you want to success and continue in this.so we cant ignore it 
        </p>
        <a href="#">more</a>
    </div>        
        <div class="text">
            <h1>Welcome, to AW World</h1>
            <p>
                Our vision is "to be the most service-focused company on earth;
                to build a place where people can find and discover more workers in their area to apply various services when needed and provide the service faster and with the highest quality.
                Our application provides many different services for application users to provide the fastest and easiest service and with high quality.
            </p>
        </div>
        <div class="image"><img src="~/images/landing-image.png" alt="" /></div>
    </div>
    <a href="#articles" class="go-down">
        <i class="fas fa-angle-double-down fa-2x"></i>
    </a>
</div>
<!-- End Landing -->
<!-- Start Features -->
<div class="features" id="features">
    <h2 class="main-title">Features</h2>
    <div class="container">

        <div class="box time">
            <div class="img-holder">
                <img src="~/images/features-02.jpg" alt="" />
            </div>
            <h2>Time</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit harum
                hic veniam eligendi minima
            </p>
            <a href="#">More</a>
        </div>
        <div class="box passion">
            <div class="img-holder">
                <img src="~/images/features-03.jpg" alt="" />
            </div>
            <h2>Passion</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit harum
                hic veniam eligendi minima
            </p>
            <a href="#">More</a>
        </div>
    </div>
</div>
<!-- End Features -->
<!-- Start Articles -->
<div class="articles" id="articles">
    <h2 class="main-title">Articles</h2>
    <div class="container">
        <div class="box">
            <img src="~/images/1.use it/awAir Condition.jpg" alt="" />
            <div class="content">
                <h3> Air conditioning technician</h3>
                <p>
                    He is responsible for installing systems either separately or connected, while most modern buildings adopt connected systems that integrate more than one system into one system.
                </p>
            </div>
            <div class="info">
                <a href="">Read More</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>
        <div class="box">
            <img src="~/images/1.use it/awSolar cell technician.jpg" alt="" />
            <div class="content">
                <h3>Solar Cell Technician</h3>
                <p>
                        He is the one who maintains, repairs, inspects, inspects, and tests all systems, equipment, and devices that use solar energy.
                </p>
            </div>
            <div class="info">
                <a href="">Read More</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>
        <div class="box">
            <img src="~/images/1.use it/awCarpenter.jpg" alt="" />
            <div class="content">
                <h3>Carpenter</h3>
                <p>
                    A carpenter is a person who makes and repairs shapes made of wood and has great manual skill in doing so. The carpenter creates and repairs wooden stairs and door frames, and installs cabinets,
                </p>
            </div>
            <div class="info">
                <a href="">Read More</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>
        <div class="box">
            <img src="~/images/1.use it/awElectrician.jpg" alt="" />
            <div class="content">
                <h3>Electrician</h3>
                <p>
                    An electrician is a professional who specializes in electrical wiring of buildings, stationary machinery and related equipment.
                </p>
            </div>
            <div class="info">
                <a href="">Read More</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>
        <div class="box">
            <img src="~/images/1.use it/awForeman.jpg" alt="" />
            <div class="content">
                <h3>Foerman</h3>
                <p>
                    The foreman chief is the link between the workers and the managers of the construction and construction projects, and he is the person who acts as the main point of contact for what happens inside the work site. 
                </p>
            </div>
            <div class="info">
                <a href="">Read More</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>
        <div class="box">
            <img src="~/images/1.use it/awpainter.jpg" alt="" />
            <div class="content">
                <h3>Painter</h3>
                <p>: Mix and blend paint colors and apply them to different surfaces, Select and purchase paint, brushes, and other supplies from professionals, Placing decorations, embellishments, and finishes as required by the project owners.
                </p>
            </div>
            <div class="info">
                <a href="">Read More</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>
        <div class="box">
            <img src="~/images/1.use it/awPumbler.jpg" alt="" />
            <div class="content">
                <h3>The plumber</h3>
                <p>
                    The plumber, he is the person who installs, maintains, and installs pipes, tubes, and equipment related to refrigeration systems, in addition to water distribution systems and sewage systems,

                </p>
            </div>
            <div class="info">
                <a href="">Read More</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>
        <div class="box">
            <img src="~/images/1.use it/awSales representive.jpg" alt="" />
            <div class="content">
                <h3>Sales Representative</h3>
                <p>
                    He is the person who is concerned with carrying out the operations of marketing and promoting the products and services provided by the company in which the sales representative works in order to attract the largest possible number of customers. 
                </p>
            </div>
            <div class="info">
                <a href="">Read More</a>
                <i class="fas fa-long-arrow-alt-right"></i>
            </div>
        </div>
    </div>
</div>
<div class="spikes"></div>
<!-- End Articles -->
<!-- Start Testimonials -->
<div class="testimonials" id="testimonials">
    <h2 class="main-title">Testimonials</h2>
    <div class="container">
        <div class="box">
            <img src="~/images/avatar-01.png" alt="" />
            <h3>Nabila Hany </h3>
            <span class="title">Full Stack Developer</span>
            <div class="rate">
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
                reiciendis voluptatum, amet est natus quaerat ducimus
            </p>
        </div>
        <div class="box">
            <img src="~/images/avatar-02.png" alt="" />
            <h3>Maria Emad</h3>
            <span class="title">Full Stack Developer</span>
            <div class="rate">
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
                reiciendis voluptatum, amet est natus quaerat ducimus
            </p>
        </div>
        <div class="box">
            <img src="~/images/avatar-03.png" alt="" />
            <h3>Shady Nabil</h3>
            <span class="title">Full Stack Developer</span>
            <div class="rate">
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
                reiciendis voluptatum, amet est natus quaerat ducimus
            </p>
        </div>
        <div class="box">
            <img src="~/images/avatar-04.png" alt="" />
            <h3>Amr Hendawy</h3>
            <span class="title">Full Stack Developer</span>
            <div class="rate">
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
                reiciendis voluptatum, amet est natus quaerat ducimus
            </p>
        </div>
        <div class="box">
            <img src="~/images/avatar-05.png" alt="" />
            <h3>Sherief Ashraf</h3>
            <span class="title">Full Stack Developer</span>
            <div class="rate">
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
                reiciendis voluptatum, amet est natus quaerat ducimus
            </p>
        </div>
        <div class="box">
            <img src="~/images/avatar-06.png" alt="" />
            <h3>Osama Mohamed</h3>
            <span class="title">Full Stack Developer</span>
            <div class="rate">
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores et
                reiciendis voluptatum, amet est natus quaerat ducimus
            </p>
        </div>
    </div>
</div>
<div class="spikes"></div>
<!-- End Testimonials -->
<!-- Start Work Steps -->
<div class="work-steps" id="work-steps">
    <h2 class="main-title">How It Works !!?</h2>
    <div class="container">
        <img src="~/images/work-steps.png" alt="" class="image" />
        <div class="info">
            <div class="box">
                <img src="~/images/work-steps-1.png" alt="" />
                <div class="text">
                    <h3>Business Analysis</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim
                        nesciunt obcaecati quisquam quis laborum recusandae debitis vel
                    </p>
                </div>
            </div>
            <div class="box">
                <img src="~/images/work-steps-2.png" alt="" />
                <div class="text">
                    <h3>Architecture</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim
                        nesciunt obcaecati quisquam quis laborum recusandae debitis vel
                    </p>
                </div>
            </div>
            <div class="box">
                <img src="~/images/work-steps-3.png" alt="" />
                <div class="text">
                    <h3>Developement</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim
                        nesciunt obcaecati quisquam quis laborum recusandae debitis vel
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Work Steps -->
<!-- Start Stats -->
<div class="stats" id="stats">
    <h2>Our Awesome Stats</h2>
    <div class="container">
        <div class="box">
            <i class="far fa-user fa-2x fa-fw"></i>
            <span class="number">300</span>
            <span class="text">Clients</span>
        </div>
        <div class="box">
            <i class="fas fa-code fa-2x fa-fw"></i>
            <span class="number">400</span>
            <span class="text">Projects</span>
        </div>
        <div class="box">
            <i class="fas fa-globe-asia fa-2x fa-fw"></i>
            <span class="number">12</span>
            <span class="text">Countries</span>
        </div>
        <div class="box">
            <i class="far fa-money-bill-alt fa-2x fa-fw"></i>
            <span class="number">500K</span>
            <span class="text">Money</span>
        </div>
    </div>
</div>
<!-- End Stats -->
